.main{
    transition: border-color 0.3s ease;
}

.main:hover {
  border-color: blue;

}


.custom-element {
  transition: border-color 0.3s ease;
}

.custom-element:hover {
  border-color: blue;
}



.Applied_Filter{
 font-size: 18px;
  font-weight: 600;
}

.Applied_Filter_outerBox{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0.2rem 0;
}

@media screen and (max-width: 480px) {
    .Applied_Filter_outerBox{
        flex-direction: column;
    }
}