.learnhunt-app-section {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 3rem 0;
    /* padding: 40px 0 0 0; */
    background-color: #f3f3f3;
}

.learnhunt-app-section .app-cont {
    /* display: inline-block; */
    width: 100%;
    position: relative;
    top: 1.5rem;
    /* vertical-align: top;
    padding: 50px 0 50px 50px; */
}

.learnhunt-app-section .app-cont h2 {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 28px;
    line-height: 40px;
    color: #000;
    font-weight: 700;
}

@media only screen and (max-width: 768px)  {
    .learnhunt-app-section .app-cont {
        position: unset;
        padding-bottom: 2rem;
        text-align: center;
    }
}