  
  .card {
    padding: 2rem 1rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 90%;
    height: auto;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s;
  }

  
  .card:hover
  {
    color: #0070f3;
    border-color: #0070f3;
  }
  .card img{
    width: 50%;
    margin-bottom: 1rem;
  }
  
  .card p{
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
  }